/* used for validation behavior
http://vinepaper.com/shutv2/elements/validation
 */

.gtick {
	.getSymbol(@icon-tick);
	background-color: @lightgreen;
	color: @blue;
	padding: 5px 9px;
	display: inline-block;
}

.gerrorbox {
	.getSymbol(@icon-exclamation);
	&:before {
		margin-right: 10px;
		font-size: 250%;
	}
	padding: 15px 10px;
	padding-right: 30px;
	background-color: @red;
	color: @inversecolor;
	position: fixed;
	top: 0;
	left: 0;
	.box-sizing(border-box);
	width: 100%;
	text-align: center;
	z-index: 5100;
	.box-shadow(0px 2px 20px 0px rgba(0, 0, 0, 1));

	.closelabel {
		color: @inversecolor;
		.getSymbol(@icon-x);
	}
	a {
		color:@inversecolor;
		text-decoration: underline;
	}
}

.gbodybox {
	
	padding: 15px 10px;
	padding-right: 30px;
	background-color: @inversecolor;
	color: @color;
	position: fixed;
	top: 0;
	left: 0;
	.box-sizing(border-box);
	width: 100%;
	text-align: center;
	z-index: 5100;
	.box-shadow(0px 2px 20px 0px rgba(0, 0, 0, 1));

	.closelabel {
		color: @greydark;
		.getSymbol(@icon-x);
	}

	

}
