

/*Basic Card */
.card {
	position: relative;
	display: flex;
	// this is killing me in small screens flex-wrap: wrap;
	// border-radius: @radius;
	overflow: hidden;
	.tail {
		margin-left: auto;
		/* for all browsers, except chrome, inherit flex display */
		display: inherit;
	}
	.corner {
		position: absolute;
		top: 0;
		right: 0; 
	}
	.corner-bottom {
		position: absolute;
		bottom: 0;
		right: 0;
	}

}
.card-v {
	flex-direction: column; 
	.tail-v {
		margin-top: auto;
	}
}
// card buttons allow breathign of buttons

.card-btns {
	button {
        margin-right: @halfspace;
    }
}

.valign-center {
	align-items: center;
}


// TODO: different flex requirents add here