@import "utilities/border";
@import "utilities/functions";

each(@colors, {
    .@{key} {
        color: @value;
    }

});


// label
.label {
    padding: @label-padding;
    .border-radius(var(--sh-label-radius)); 
    display: inline-block;
}
a.label {
    transition: background-color 0.15s,  color 0.15s;
}


each(@colors, {

    .label-@{key} {
        .colorbox(@value);
    }
    a.label-@{key}:hover {
        .colorbox(lighten(@value, @lightLabel));
        
    }
});

.label-white {
    border: @box-border solid @grey;
    .label();
}

