/******pop list a bit less explicit than filterlist ******/

.poplist {
	position: relative;
	.h {
		cursor: pointer;
	}
	li {
		&:hover {
			background-color: @lightyellow;
		}
	}
	.guts {
		display: none;
		z-index: 1000;
		position: absolute;
		background-color: @inversecolor;
		border: 1px solid @greydark;
	
	}
}


/**** simplest form of expand list ****/

.expandlist {

	.guts {
		display: none;
	}
}

.expands {
	.guts {
		display: none;
	}
	.h {
		.a;
	}
}


/* client tabs*/

.tabs {
	position: relative;
	border-bottom: 3px solid @greynormal;
	padding-top: 5px;
	margin-bottom: 20px;
	clear: both;
	.cf;
	&.small {
		height: 24px;
	}
	li {
	
		float: left;
		background-color: @grey;
		padding: 10px;
		margin-right: 3px;
		cursor: pointer;
		&:hover {
			margin-top: -2px;
			padding-bottom: 12px;
		}
		&.selected {
			background-color: @inversecolor;
			a {
				color: @color;
			}
		}
	}
}

.tabguts {
	display: none;
}


/* hide tab titles */

.subclienttabs .tabtitle {
	display: none;
}

