@import "utilities/border";

// input text template
.input() {
    /* used to mimic the text input for regular text */
    border: 1px solid @grey-light;
    padding: @input-padding;

    .border-radius(@input-radius);
    outline: none;

    &:focus {
        outline: solid 1px;
    }
}

.input-control {
    // type text
    .input();

    &::placeholder {
        opacity: 0.8;
        font-size: 90%;
    }
}

// field wrapper for asterik and invalid feedback
.input-field {
    position: relative;
    display: block;
    & .input-control:focus ~ .input-asterisk {
        display: none;
    }
}
.input-label {
    display: inline-block;
}
.input-asterisk {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0;
    &:after {
        display: block;
        content: "*";
        #rem > .font-size(1.8);
        font-weight: @font-weight-bold;
        line-height: 1.5;
        color: @red;
    }
}
.input-invalid-feedback {
        background-color: @red;
        color: @white;
        .small();
        position: absolute;
        bottom: -24px;
        left: 5px;
        z-index: 1000;
        border-radius: @radius;
        padding: 2px 5px;
        white-space: nowrap;
        width: auto; // god damn u bootstrap
        &:before {
            border-color: @red;
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            position: absolute;
            left: 45%;
            top: -4px;

            border-style: solid;
            border-color: transparent;
            border-width: 0 4px 4px;
            border-block-end-color: @red;
        }
}

// .checkbox,
// .radio {
//     opacity: 0;
//     position: absolute;

//     & + label {
//         padding-left: 25px;
//         min-height: 21px;
//         position: relative;
//         margin-bottom: 1px;
//         cursor: pointer;
//         display: inline-block;
//         &:before {
//             border: 1px solid @grey;
//             content: " ";
//             height: 20px;
//             width: 20px;
//             left: 0;
//             position: absolute;
//             top: -1px;
//         }
//     }
//     &:checked + label:before {
//         border: 4px solid @green;
//     }
// }
// .radio + label:before {
//     border-radius: 50%;
// }

// /* controls */

// .radio {
//     & + label:before {
//         border: 1px solid @grey-light;
//     }
//     &:checked + label:before {
//         border: 4px solid @green;
//     }
// }
// .checkbox {
//     & + label:before {
//         border: 3px solid @grey;
//     }
//     &:checked + label:before {
//         border: 3px solid @green;
//         background-color: @green;
//         .displayIcon(@icon-tick);
//         color: @white;
//     }
// }
