@import "utilities/border";
@import "utilities/functions";

.box {
  padding: var(--sh-box-padding);
  .border-radius(var(--sh-radius));
  position: relative;
}

ul.boxed>li {
  .box();
}

// theme this if possible
each(@colors, {
  .box-@{key} {
    .colorbox(@value);
  }
});


// radius only
.box-radius {
  .border-radius(var(--sh-radius));
}


each(@shadows, {
  .box-shadow-@{key} {
    box-shadow: @value;
  }
});