

/*Basic Card */
.card {
	--sh-only-display: flex;

	position: relative;
	display: flex;
	// this is killing me in small screens flex-wrap: wrap;
	// border-radius: @radius;
	overflow: hidden;
	.tail {
		margin-inline-start: auto;
		/* for all browsers, except chrome, inherit flex display */
		// FIXME: what?
		// display: inherit;
	}
	.corner {
		position: absolute;
		top: 0;
		right: 0; 
	}
	.corner-bottom {
		position: absolute;
		bottom: 0;
		right: 0;
	}

}
.card-v {
	flex-direction: column; 
	.tail-v {
		margin-block-start: auto;
	}
}
// card buttons allow breathign of buttons

.card-btns {
	button {
        margin-inline-end: @halfspace;
    }
}

.valign-center {
	align-items: center;
}
.valign-top {
	align-items: flex-start;
}

