/* font setting */

body, textarea, select, option, input {
	font-family: @fontface;
	#rem > .font-size(@baseFontSize);
	color: @color;
}

section {
	margin-bottom: @extraSpace;
}

p {
	margin-bottom: @space;
}

h1, h2, h3, h4, h5 {
	margin-bottom: @hMargin;
}

h1 {
	#rem > .font-size(3.5 * @baseFontSize);
}

h2 {
	#rem > .font-size(3 * @baseFontSize);
}

h3 {
	#rem > .font-size(2.5 * @baseFontSize);
}

h4 {
	#rem > .font-size(2 * @baseFontSize);
}

h5 {
	#rem > .font-size(1.5 * @baseFontSize);
}

h6 {
	#rem > .font-size(@baseFontSize);
}

.lightfont {
	font-weight: @lightweight;
}

.boldface {
	font-weight: @boldweight;
}

.italicface {
	font-style: italic;
}

.large {
	#rem > .font-size(1.3 * @baseFontSize);
}

.larger {
	#rem > .font-size(1.8 * @baseFontSize);
}

.small {
	#rem > .font-size(0.9 * @baseFontSize);
}

.smaller {
	#rem > .font-size(0.8 * @baseFontSize);
}


/* labels and boxes */

.red {
	color: @red;
}

.green {
	color: @green;
}

.blue {
	color: @blue;
}

.light {
	color: @textlight;
}

.lighter {
	color: @textlighter;
}

.labeltext {
	padding: @labelPadding;
	.border-radius(@radius);
	display: inline-block;
}

.label (@c) {
	background-color: @c;
	.labeltext;
	.fcolor(@c);
}

.box {
	padding: @boxpadding;
	.border-radius(@radius);
	position: relative;
}

.colorbox(@c) {
	.box;
	background-color: @c;
	.fcolor(@c);
}

.yellowtext {
	.label(@yellow);
}

.lightyellowtext {
	.label(@lightyellow);
}

.redtext {
	.label(@red);
}

.lightredtext {
	.label(@lightred);
}

.greentext {
	.label(@green);
}

.lightgreentext {
	.label(@lightgreen);
}

.bluetext {
	.label(@blue);
}

.lightbluetext {
	.label(@lightblue);
}

.greytext {
	.label(@grey);
}

.greydarktext {
	.label(@greydark);
}

.whitetext {
	border: @boxborder solid @greynormal;
	.labeltext;
}

.greynormaltext {
	.label(@greynormal);
}

.yellowbox {
	.colorbox(@yellow);
}

.lightyellowbox {
	.colorbox(@lightyellow);
}

.redbox {
	.colorbox(@red);
}

.lightredbox {
	.colorbox(@lightred);
}

.whitebox {
	.colorbox(@inversecolor);
}

.whiteborderbox {
	.whitebox;
	border: @boxborder solid @grey;
}

.greenbox {
	.colorbox(@green);
}

.lightgreenbox {
	.colorbox(@lightgreen);
}

.greybox {
	.colorbox(@grey);
}

.whitedarkbox {
	border: @boxborder solid @greydark;
	.colorbox(@inversecolor);
}

.greydarkbox {
	.colorbox(@greydark);
}

.greynormalbox {
	.colorbox(@greynormal);
}

.whitenormalbox {
	border: @boxborder solid @greynormal;
	.colorbox(@inversecolor);
}

.bluebox {
	.colorbox(@blue);
}

.lightbluebox {
	.colorbox(@lightblue);
}


/* mixed content*/

.ltr {
	font-family: @fontface;
	direction: ltr;
}


/* HTML tags redefined */

a, .a {
	/* mimic a href */
	color: @linkcolor;
	text-decoration: none;
	cursor: pointer;
}


/*camoflage a*/

a.cam, .a.cam, .cam {
	color: @color;
	&:hover {
		color: @linkcolor;
	}
	cursor: pointer;
}

a[rel="track"]:visited {
	color: @visitedlinkcolor;
}

a:hover, a[rel="track"]:hover {
	color: @altlinkcolor;
}

h1 a:visited {
	/* only titles of items are tracked for visiting, other a hrefs are not tracked */
	color: @visitedlinkcolor;
}

.hsub {
	font-size: 70%;
	.light;
}

p.normalsize, .normalsize p, .normalsize {
	#rem > .font-size(@baseFontSize)!important;
	font-family: @fontface;
}

sup {
	font-size: 70%;
	vertical-align: 4px;
}

del {
	color: @textlight;
	text-decoration: line-through;
}

.ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}