// display props
// redo like this https://getbootstrap.com/docs/5.1/utilities/display/

.forprint {
	display: none;
}

.hidden {
	display: none;
}


.dflex {
	--sh-only-display: flex;
	display: flex;
}

.dinline {
	--sh-only-display: inline-block;
	display: inline-block;
}

.dblock {
	display: block;
}

// only
.md-only {
	display: none;
}

.lg-only {
	display: none;
}

.media(md, {

		// FIXME: this is too chaotic for mdonly and mdhide
		.md-only {
			display: var(--sh-only-display, block);
		}

		.md-hide {
			display: none;
		}
	}

);

.media(lg, {
		.lg-only {
			display: var(--sh-only-display, block);
		}

		.lg-hide {
			display: none;
		}
	}

);