// RESET
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
}

.btntemplate(){
	padding: @button-padding;
	display: inline-block;
	transition: background-color .518s;
	line-height: 1;
	.border-radius(@radius);
	text-transform: uppercase;
	font-size: 90%;
	cursor: pointer;
	border: 0;
	-webkit-appearance: none;

	&.loading-small {
		background-position: center top;
	}
	
}

.btn,
.btn-rev,
.btn-fake,
.btn-diff {
    .btntemplate();
}

.btn {
    color: @linkcolor;
    background-color: @grey-light;
    &:hover {
        background-color: fade(@grey-light, 50%);
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    }
}

.btn-rev {
    color: @white;
    background-color: @linkcolor;
    // .gradient(lighten(@linkcolor, 10%), @linkcolor);
    &:hover {
        background-color: lighten(@linkcolor, 10%);
        // .gradient(lighten(@linkcolor, 10%), lighten(@linkcolor, 5%));
        color: @white;
    }
}

// a text button with no paddings
.btn-fake {
	.btntemplate();
    font-weight: @font-weight-bold;

    padding-left: @button-sm-padding;
    padding-right: @button-sm-padding;
	&:hover {
		color: @linkcolor;
	}
}


.btn-diff {
    background-color: @btn-diff-bg;
    .fcolor(@btn-diff-bg);
    &:hover {
        background-color: darken(@btn-diff-bg, 20%);
        .fcolor(darken(@btn-diff-bg, 20%));
    }
}

.btn-sm {
    padding: @button-sm-padding; // TODO: vars ore remove
}


.btn-busy {
	// busy buttons loading effect when disabled
	&[disabled] {
		color: @text-light;
		background-color: @grey-light;
		
        background-position: center 82%;
        // TODO: loading effect
	}
}
