
/* layout */
/* CRITICAL BEGIN */
.page {
  // defines page width
	margin: 0 auto;
	padding: @mainpad;
}
.singlepage {
	margin: 0 auto;
	padding: @mainpad;
	
}

.forprint {display: none; }


// only
.md-only {
    display: none;
}
.lg-only {
    display: none;
}




.media(md, {
	// remove as much as a scroll width
	.page {
		width: calc(@screen[md] - @space * 2);
		padding: 0;
	}
	.singlepage {
		width: calc(@screen[sm] - @space * 2);
	}
		
	.container {
		// adds padding
		padding: @mainpad;
	}

	.md-only {
        display: block;
    }

    // hide
    .xs-hide {
        display: none;
    }

});
.media(lg, {
		
	.page {
		width: calc(@screen[lg] - @space * 2);

	}
	.singlepage {
		width: calc(@screen[md] - @space * 2);
	}
	.lg-only {
        display: block;
    }
    .md-hide {
        display: none;
    }
});
.media(xl, {
		
	.page {
		width: calc(@screen[xl] - @space * 2);

	}
	.singlepage {
		width: calc(@screen[md] - @space * 2);
	}
});

/* CRITICAL END */

