

table {
	border-collapse: collapse;
	border-spacing:0;
	th, td {
		vertical-align: top;
	}
	th {
		text-align: left;
	}
	&.txt-r th, th.txt-r {
		text-align: right;
	}
	caption {text-align: left;}
}


table.tabulated {
	th {
		padding-bottom: 2px;
		border-bottom: 1px solid @grey-dark;
	}
	td {
		padding: 2px 0;
		border-bottom: 1px solid @grey-light;
	}
	tfoot {
		td {
			border-top: 2px solid @grey-dark;
		}
	}
}


table.spacedout {
	td, th {padding: @space;}
}

table.bordered {
	td, th {border:1px solid @grey-light;}
	tfoot {
		td {
			border-top: 2px solid @grey;
		}
	}
}


table.tabulated th {
	font-weight: @font-weight-bold;
}

table.striped {
	tbody tr:nth-child(odd) {
		background-color: @grey-light;
	}
}


table.rich {
	th, td {
		border: 1px solid @grey-light;
		padding: @halfspace;
	}
	th {
		font-weight: @font-weight-bold;
		background-color: @grey-light;
		border: 1px solid @grey;
		border-bottom: 2px solid @grey-dark;
	}
}

.tresp {
	overflow-y: hidden;
	overflow-x: auto;
	width:100%;
	>table>tbody>tr>td{
		white-space: nowrap;
	}
}