.rel {
	position: relative;
}

.l {
	float: left;
}
.r {
	float: right;
}
 
.clear {
	clear: both;
}
.txt-r {
	text-align: right;
}
.txt-c {
	text-align: center;
}
.txt-l {
	text-align: left;
}

.text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrap-break {
	word-wrap: break-word;
}

.breath, ul.breathout>li, ol.breathout>li {
	padding-top: @halfspace;
	padding-bottom:@halfspace;
}

.spaced, ul.spacedout>li, ol.spacedout>li  {
	margin-bottom: @space;
}

.doublespaced, ul.doubledspacedout>li, ol.doublespacedout>li{
	margin-bottom: @doublespace;
}

.rbreath {
	padding-right: @space;
}
.lbreath {
	padding-left: @space;
}
.hbreath {
	.rbreath();
	.lbreath();
}
.lspace {
	margin-left: @space;
}
.rspace {
	margin-right: @space;
}
.hspace {
	.lspace();
	.rspace();
}
// rare, very rare
.padtop {
	padding-top: @space; /* to be used only in extreme cases */
}
.spacetop {
	margin-top: @space;  /* to be used only in extreme cases */
}

.center {
	margin-left: auto;
	margin-right: auto;
}
// used for flex layouts
.lauto {
	margin-left: auto;
}
.rauto {
	margin-right: auto;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

.dinline {
	display: inline-block;
}


/*** border bottom, thin and thick ***/
.bthin {
	border-bottom: 1px solid @b-color;
	padding-bottom: @space;
}
.bthin-dark {
	border-bottom: 1px solid @b-dark-color;
	padding-bottom: @space;
}

.bthick {
	border-bottom: 3px solid @b-color;
	padding-bottom: @space;
}

.bthick-dark {
	border-bottom: 3px solid @b-dark-color;
	padding-bottom: @space;
}


.dev {
    display: inline-block!important;
    font-size: 11px!important;
    color: red!important;
    background-color: yellow!important;
}
