
/* CRITICAL BEGIN */
.ar {
    font-family: @fontface-ar;
    direction: rtl;
}

body,
textarea,
select,
option,
// fix: added button
button,
input {
    font-family: @fontface-ar;
    direction: rtl;
}

textarea {
    overflow-x: hidden;
}

/* CRITICAL END */