
/* layout */
.page {
  // defines page width
	margin: 0 auto;
	padding: @mainpad;
}
.singlepage {
	margin: 0 auto;
	
}

.forprint {display: none; }


.media(md, {
		
	.page {
		width: @screen[md] - @space * 2;
		padding: 0;
	}
	.singlepage {
		width: @screen[sm] @space * 2;
	}
		
	.container {
		// adds padding
		padding: @mainpad;
	}

});
.media(lg, {
		
	.page {
		width: @screen[lg] - @space * 2;

	}
	.singlepage {
		width: @screen[md] - @space * 2;
	}
});
.media(xl, {
		
	.page {
		width: @screen[xl] - @space * 2;

	}
	.singlepage {
		width: @screen[md] - @space * 2;
	}
});


