@import (reference) 'utilities/media.less';

/* CRITICAL BEGIN */
/* affects wrapper and site width */

.w100 {
    width: 100%!important;
}
.h100 {
    height: 100%;
}


.generate-column(@column, @key: c) when (@column > 0) {
    .generate-column((@column - 1), @key);
    .@{key}-@{column},
    &.u@{key}-@{column} > li {
        width: percentage((@column / @wrapper));
    }
}


.generate-offset(@column, @key: c) when (@column > 0) {
    .generate-offset((@column - 1), @key);
    .offset-@{key}-@{column} {
        margin-inline-start: percentage((@column / @wrapper));
    }
}

// spaced out begins at md only
.generate-spaced-column(@column, @key: c) when (@column > 0) {
    .generate-spaced-column((@column - 1), @key);
    > .@{key}-@{column},
    &.u@{key}-@{column} > li {
        width: calc(percentage((@column / @wrapper)) - @gutterspace/2);
    }
}

.generate-min-heights(@from, @to) {

    each(range(@from,@to), {
        .h-@{value},
        .uh-@{value} > li {
            min-height: (@grid-column-height) * @value;
        }
    });
}

.generate-max-heights(@from, @to) {

    each(range(@from,@to), {
        .hm-@{value},
        .uhm-@{value} > li {
            max-height: (@grid-column-height) * @value;
        }
    });
}

.generate-min-heights(1, 6);
.generate-max-heights(1, 6);

// default for small screens all percentages apply only for xs
// then col.md apply 100% for small screens
// then col.lg apply 100% for small screens
.row, .row-spaced {
    display: flex;
    flex-wrap: wrap;
}
.row-spaced {
    justify-content: space-between;

}

// for gaps without space between
.row-gap {
	gap: @gutterspace;
}

.col,
.ucol > li {
    width: 100%;
}



.generate-offset(@wrapper - 1);
.generate-column(@wrapper);

.row-spaced {
    .generate-spaced-column(@wrapper);
}

// grid
.generate-grid(@column, @key: g) when (@column > 0) {
    .generate-grid((@column - 1), @key);
    .@{key}-@{column} {
        grid-template-columns: percentage((@column / @wrapper)) auto;
        
    }
}
.grid {
    display: grid;
	
}
.grid.spacedout {
    grid-gap: @space;
}
.generate-grid(@wrapper - 1);



.media(md, {
    
    .generate-offset(@wrapper - 1, md);
    .generate-grid(@wrapper - 1, gmd);
    .generate-column(@wrapper, md);
    
    .row-spaced {
        .generate-spaced-column(@wrapper, md);
    }
    
    
});

.media(lg, {
    
    .generate-offset(@wrapper - 1, lg);
    .generate-grid(@wrapper - 1, glg);
    
    .generate-column(@wrapper, lg); 
    
    .row-spaced {
        .generate-spaced-column(@wrapper, lg);
    }
    
});

/* CRITICAL END */