@import "utilities/border";
@import "utilities/functions";

.box {
    padding: @box-padding;
 
    .border-radius(@radius);
    position: relative;
}
ul.boxed > li {
    .box();
}

each(@colors, {

    .box-@{key} {
        .colorbox(@value);
    }
    
});



.box-white-dark {
    border: @box-border solid @grey-dark;
    .colorbox(@white);
}


// .box-white-light {
//     .box-white();
//     border: @box-border solid @grey-light;
// }
.box-white-normal {
    border: @box-border solid @grey;
    .colorbox(@white);
}
.box-white {
    border: @box-border solid @grey-light;
    
}

each(@shadows, {
    .box-shadow-@{key} {
        box-shadow: @value;
    }
});

