// import sh first
@import "sh.less";

.ar {
	font-family: @fontface-ar;
	direction: rtl;
}

/* RTL BEGIN */
	body, textarea, select, option, input 
	{
		font-family: @fontface-ar;
	}
	

	 .page, .singlepage, div.poppage  {
		direction:rtl;
		
	}

	
	.directionwrapper {
		#jqmContent {
			direction: rtl;

		}
	}
	.shortwindow #jqmContent {
		height: auto;
	}
	textarea {
		overflow-x: hidden; 
	}
/* RTL END */