
// copy the file to project to override and create new icons
// PS. none of these icon vars are used inside the framework directly

@font-face {
	font-family: "@{iconfont}";
	
	src:url("@{font-url}@{iconfont}.ttf") format("truetype"),
		url("@{font-url}@{iconfont}.woff") format("woff"),
		url("@{font-url}@{iconfont}.svg#icons") format("svg");
	
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "@{iconfont}";
        src: url("@{font-url}@{iconfont}.svg#icons") format("svg");
    }
}


// basic icons, regenerate by icon tools in gulp with the help of icomoon generated variables
@icon-pencil: "";    .icon(icon-pencil, @icon-pencil);
@icon-plus: "";    .icon(icon-plus, @icon-plus);
@icon-flag: "";    .icon(icon-flag, @icon-flag);
@icon-attach: "";    .icon(icon-attach, @icon-attach);
@icon-arrow-back: "";    .icon(icon-arrow-back, @icon-arrow-back);
@icon-arrow-forward: "";    .icon(icon-arrow-forward, @icon-arrow-forward);
@icon-tick: "";    .icon(icon-tick, @icon-tick);
@icon-x: "";    .icon(icon-x, @icon-x);
@icon-wrench: "";    .icon(icon-wrench, @icon-wrench);
@icon-exit: "";    .icon(icon-exit, @icon-exit);
@icon-info: "";    .icon(icon-info, @icon-info);
@icon-external: "";    .icon(icon-external, @icon-external);
@icon-menu: "";    .icon(icon-menu, @icon-menu);
@icon-chevron-down: "";    .icon(icon-chevron-down, @icon-chevron-down);
@icon-chevron-left: "";    .icon(icon-chevron-left, @icon-chevron-left);
@icon-chevron-right: "";    .icon(icon-chevron-right, @icon-chevron-right);
@icon-chevron-up: "";    .icon(icon-chevron-up, @icon-chevron-up);
@icon-exclamation: "";    .icon(icon-exclamation, @icon-exclamation);
@icon-inbox: "";    .icon(icon-inbox, @icon-inbox);
@icon-question: "";    .icon(icon-question, @icon-question);

